<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="all-tests-in-parallel" parallel="tests" thread-count="1">

    <test name="sequential-ui-tests">
        <!--Theses cases need to be run sequentially to avoid state leaks between tests -->
        <listeners>
            <listener class-name="teammates.test.util.PriorityInterceptor" />
        </listeners>
        <classes>
            <class name="teammates.test.cases.ui.browsertests.InstructorCourseJoinConfirmationPageUiTest" />
            <class name="teammates.test.cases.ui.browsertests.StudentCourseJoinConfirmationPageUiTest" />
            <class name="teammates.test.cases.ui.browsertests.StudentHomePageUiTest" />
            <class name="teammates.test.cases.ui.browsertests.AdminHomePageUiTest" />
            <class name="teammates.test.cases.ui.browsertests.AllAccessControlUiTests" />
        </classes>
    </test>

</suite> 