<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="all-tests-in-parallel" parallel="tests" thread-count="1">

    
    <test name="rare-tests" parallel="classes">
     <!-- These need not be run during staging. -->
        <listeners>
            <listener class-name="teammates.test.util.PriorityInterceptor" />
        </listeners>
        <classes>
            <class name="teammates.test.cases.testdriver.BackDoorTest" />
        </classes>
    </test>

</suite> 